.homemain{
    margin-top: 0;
    
}

.homebgimage{
    background:  linear-gradient(
        rgba(255, 217, 0, 0),
        rgba(255, 217, 0, 0)
        ),  url("../../assets/homepagebg.jpg") no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-position:center;
    align-content: center;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.homemaintext{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.welcometext{
    align-content: flex-end;
    font-size:80px;
    font-weight: 800;
    color: rgb(255, 106, 0);
}

.username{
    margin-left: 30px;
    font-size: 40px;
    color: rgb(255, 139, 56);
}

.balance{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.balancetext{
    align-content: flex-end;
    font-size: 40px;
    font-weight: 600;
    color: white;
}

.viewblance{
    margin-left: 30px;
    color: white;
    font-size: 40px;
    background-color: rgb(181, 51, 0);
    width: 200px;
    border-radius: 10px;
}
